In [ ]:
import pandas as pd

In [ ]:
# Given two integer numbers return their product only if the product is equal to or lower than 1000, 
# else return their sum.

number1 = 10
number2 = 20

if number1 * number2 <= 1000:
    print("the result is", (number1 * number2))
else:
    print("the result is", (number1 + number2))

In [ ]:
def multiplication_or_sum(num1, num2):
    # calculate the product of 2 numbers
    product = num1 * num2
    if product <= 1000:
        return product
    else:
#         product is greater than 1000 than calc sum
        return num1+num2

#first condition
result = multiplication_or_sum(20, 30)
print("The result is", result)

result = multiplication_or_sum(30,40)
print("The result is", result)

In [1]:
# Write a program to iterate the first 10 numbers and in each iteration, 
# print the sum of the current and previous number.

print("Printing current and previous number and their sum in a range(10)")
previous_num = 0

# loop from 1 to 10
# NOTE: previous num = 0 through first loop, then it loops at i for the remaining.
for i in range(10):
    x_sum = previous_num + i
    print("Current Number", i, "Previous Number ", previous_num, " Sum: ", x_sum)
    # modify previous number
    # set it to the current number
    previous_num = i

Printing current and previous number and their sum in a range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

In [ ]:
# Write a program to accept a string from the user and display characters that are present at an even index number.

# For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

test = "pynative"
test[::2]

print("Original String is", test)
print("Printing only even index chars")
for i in test[::2]:
    print(i)

In [ ]:
print(test[4:])
print(test[2:])

In [ ]:
def remove_chars(word, n):
    print('Original String:', word)
    x = word[n:]
    return x

print("Removing Characters from a String")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

In [ ]:
# Write a function to return True if the first and last number of a given list is same. 
# If numbers are different then return False.

numbers_x = [10, 20, 30, 40, 10]
# numbers_x[0::-1]
# numbers_x[0:1]
if numbers_x[0] == numbers_x[::-1][0]:
    print(True)
else: print(False)

In [ ]:

def numbers(numbers_list):
    first = numbers_list[0]
    last = numbers_list[::-1][0]
    if first == last:
        return True
    else: return False


numbers_x = [10, 20, 30, 40, 10]
print("The Result is", numbers(numbers_x))

In [ ]:
#6
def remainder(given_list):
    for x in given_list:
        if x % 5 == 0:
            print(x)
            
given_list = [10,20,33,46,55]
print("Given list is", given_list)
print("Divisible by 5")
print(remainder(given_list))

In [ ]:
#6
given_list = [10,20,33,46,55]
print("Given list is", given_list)
print("Divisible by 5")
for x in given_list:
    if x % 5 == 0:
        print(x)

In [ ]:
#7.
str_x = "Emma is good developer. Emma is a writer"

count = str_x.count("Emma")
print("Emma appears", count, "times.")

In [5]:
#8.
# Rows are iterated using outer loop
# Colums are iterated using inner loop

rows = 5
for i in range(rows+1):
    for j in range(i):
        print(i, end=' ')
    print('\n')

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

In [ ]:
#Exercise 9: Check Palindrome Number

# original_number = '121'


def palindrome(original_number):
    str_original = str(original_number)
    reverse_number = str_original[::-1]
    if reverse_number == str_original:
        print("Yes, original number is palindrom number")
    else:
        print("No, original number is not a palindrome number")
        
palindrome(121)
palindrome(125)

In [ ]:
# Exercise 10: Create a new list from a two list using the following condition
# Given a two list of numbers, write a program to create a new list such that the new list should contain 
# odd numbers from the first list and even numbers from the second list.

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]



def combine_lists(list_a, list_b):
    new_list1 = []
    for x,y in [(list_a, list_b)]:
        for x in list_a:
            if x % 2 > 0:
                new_list1.append(x)
        for y in list_b:
            if y % 2 == 0:
                new_list1.append(y)
    print("result list:", new_list1)

combine_lists(list1, list2)

In [8]:
# Exercise 11: Write a Program to extract each digit from an integer in the reverse order.
# For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

alpha = 7536

def reverse_output(alpha):
    str_alpha = str(alpha)
    inv_alpha = str_alpha[::-1]
    for x in inv_alpha:
        print(x, end = ' ')

reverse_output(alpha)

6 3 5 7

In [4]:
# Exercise 12: Calculate income tax for the given income by adhering to the below rules

# Taxable Income	Rate (in %)
# First $10,000	0
# Next $10,000	10
# The remaining	20

# For example, suppose the taxable income is 45000 the income tax payable is

income = 45000

def net_tax(income):
    if income > 20000:
        tax_payable = ((income - 20000) * .2) + 1000
    elif income > 10000 and income <= 20000:
        tax_payable = (income - 10000) * .1
    elif income <= 10000:
        tax_payable = 0
    print("Total tax payable is", tax_payable)

net_tax(income)

Total tax payable is 6000.0

In [34]:
# Exercise 13: Print multiplication table form 1 to 10
# Expected Output
# 1  2 3 4 5 6 7 8 9 10 		
# 2  4 6 8 10 12 14 16 18 20 		
# 3  6 9 12 15 18 21 24 27 30 		
# 4  8 12 16 20 24 28 32 36 40 		
# 5  10 15 20 25 30 35 40 45 50 	

rows = 10

# loop through # of rows that you want, starts at 1 vs 0
for i in range (1, rows+1):
    # loop through the number of columns
    for j in range(1, rows+1):
        # multiplies 'i' and 'j'
        print(i*j, end=' ')
    # breaks each row
    print('')
#     print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [47]:
# Exercise 14: Print downward Half-Pyramid Pattern with Star (asterisk)
# * * * * *  
# * * * *  
# * * *  
# * *  
# *

rows = 5
for i in range(1, rows+1):
    for j in range(i-1):
        print('*', end='')
    print('')

*
**
***
****